<h1>Búsqueda de Heroes</h1>
<hr>

<div class="row">
    <div class=col-12>
        <a class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Volver</a>
    </div>
</div>

<br>

<div class="card-columns">

    <div class="card animated fadeIn fast" *ngFor="let heroe of heroeArr; let i = index;">
        <img class="card-img-top" [src]="heroe.img" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
        </div>
    </div>

</div>